#titulo-principal {
    color: dodgerblue;
    font-family: sans-serif;
}

.parrafoPrimario {
    color: yellowgreen;
    font-size: 20px;
}
.parrafoSecundario {
    color: darkblue;
    font-size: 20px;
}

/* p {
    background-color: #88ce5e;
} */

a:link {
    color: chocolate;

}

a:visited {
    color: darkgreen;
}

a:hover {
    transition: 1s;
    background-color: darkblue;
    color: white;
    border-radius: 30px;
}

a:active {
    background-color: darkred;
    color: white;
    border-radius: 30px;
}

p:nth-child(2n) { /* Otros atributos: odd, even */
    background-color: darkgreen;
}

p:nth-child(2n-1) { /* Otros atributos: odd, even */
    background-color: darkgoldenrod;
}

.contenedor {
    top: 12%;
    left: 0;
    height: 78%;
    width: 100%;
    background-color: beige;
    margin: 0px;
    padding: 10px;
    position: fixed;
}